---
import BaseLayout from '../layouts/MainLayout.astro'
import { sanityClient } from 'sanity:client'
import { createImageUrlBuilder } from '@sanity/image-url'
import PortableTextRenderer from '../components/PortableTextRenderer.tsx'

// Fetch the Home Page data
const homeData = await sanityClient.fetch(`*[_type == "aboutPage"][0]`)

// If no data exists yet, we provide fallbacks so the site doesn't crash
const {
  heroTitle = 'Inspiring Musicians.',
  welcomeImage = '',
  welcomeTitle = 'Welcome Title',
  welcomeText = 'Welcome Text',
  welcomeText2 = 'Welcome Text 2',
  welcomeImage2 = '',
  founderName = 'Teresa Bellamy',
  founderBio = [],
  founderImage = 'Founder Image',
  thriveTitle = '',
  thriveText = '',
  thriveImage = '',
  thriveFeatures = [],
} = homeData || {}

// Build Sanity image URL if welcomeImage exists
const builder = createImageUrlBuilder(sanityClient)
// Helper function to make the HTML cleaner
function urlFor(source: any) {
  return builder.image(source)
}
const welcomeImageUrl =
  welcomeImage && welcomeImage.asset ? builder.image(welcomeImage).url() : ''
const welcomeImageUrl2 =
  welcomeImage2 && welcomeImage2.asset ? builder.image(welcomeImage2).url() : ''
const founderImageUrl =
  founderImage && founderImage.asset ? builder.image(founderImage).url() : ''
const thriveImageUrl =
  thriveImage && thriveImage.asset ? builder.image(thriveImage).url() : ''
---

<BaseLayout title="About">
  <section class="page-hero about-hero hero">
    <div class="hero-content">
      <h1>{heroTitle}</h1>
    </div>
    <img src="../../src/assets/images/home/bg-img.jpg" alt="" />
  </section>

  <section class="welcome about-welcome container">
    <div class="welcome-img">
      {welcomeImageUrl && <img src={welcomeImageUrl} alt="Welcome" />}
    </div>
    <div class="welcome-content">
      <h3>
        {welcomeTitle.split('\n')[0]}<br />
        <i>{welcomeTitle.split('\n')[1]}</i>
      </h3>
      <p set:html={welcomeText.replace(/\n/g, '<br />')} />
    </div>
  </section>

  <section class="welcome about-welcome2 container">
    <div class="welcome-content">
      <p set:html={welcomeText2.replace(/\n/g, '<br />')} />
    </div>
    <div class="welcome-img">
      {welcomeImageUrl2 && <img src={welcomeImageUrl2} alt="Welcome" />}
    </div>
  </section>

  <section class="founder">
    <div class="founder-container">
      <div class="context">
        <h3>
          Meet the Founder <br />
          <span class="italic">{founderName}</span>
        </h3>
        <PortableTextRenderer client:only="react" value={founderBio} />
      </div>
      <div class="img">
        {founderImage && <img src={founderImageUrl} alt="Founder" />}
      </div>
    </div>
  </section>

  <section class="wws">
    <div class="wws-box-content">
      <h3>Who We <span class="italic">Serve</span></h3>
      <ul>
        <li>
          <img src="../../public/Star.svg" alt="" /><p>Children ages 2–18</p>
        </li>
        <li>
          <img src="../../public/Star.svg" alt="" /><p>
            Adult beginners and returning musicians
          </p>
        </li>
        <li>
          <img src="../../public/Star.svg" alt="" /><p>
            Students seeking ensemble and chamber music experience
          </p>
        </li>
        <li>
          <img src="../../public/Star.svg" alt="" /><p>
            Event planners and couples needing live string music
          </p>
        </li>
        <li>
          <img src="../../public/Star.svg" alt="" /><p>
            Church musicians, music directors, and orchestra school directors
          </p>
        </li>
      </ul>
    </div>
    <div class="wws-box-img">
      <img src="../../src/assets/images/about/about-img.jpg" alt="" />
    </div>
  </section>

  <section class="thrive">
    <div class="thrive-content">
      <h3>
        {thriveTitle.split('\n')[0]}<br />
        <i>{thriveTitle.split('\n')[1]}</i>
      </h3>
      <p>{thriveText}</p>
      <div class="img">
        {thriveImageUrl && <img src={thriveImageUrl} alt="" />}
      </div>
    </div>
    <div class="thrive-feature">
      {thriveFeatures.map((feature:any) => (
       <div class="feature-line">
        <img src={urlFor(feature.featureImage).url()} alt='' />
        <h5>{feature.title}</h5>
       </div>
       <div class="feature-content">
        <p>{feature.description}</p>
       </div>
      ))}
    </div>
  </section>
</BaseLayout>
