---
import BaseLayout from '../layouts/MainLayout.astro'
import { sanityClient } from 'sanity:client'
import { createImageUrlBuilder } from '@sanity/image-url'
import { Image } from 'astro:assets'
import heroImg from '../../src/assets/images/home/bg-img.jpg'
import arrow from '../../src/assets/icons/arrow.svg'
import check from '../../src/assets/icons/check.svg'
import clock from '../../src/assets/icons/clock.svg'

// Fetch the Home Page data
const homeData = await sanityClient.fetch(`*[_type == "chamberPage"][0]`)

// If no data exists yet, we provide fallbacks so the site doesn't crash
const {
  heroTitle = 'Inspiring Musicians.',
  heroSubtitle = 'Building Confidence. Creating Community.',
  welcomeTitle = '',
  welcomeText = '',
  welcomeImage = '',
  featuresPrice = [],
  tuitionPrice = '',
  featuresTitle = '',
  priceTitle = '',
  priceText = '',
  features = [],

  programsReq = [],
} = homeData || {}

// Build Sanity image URL if welcomeImage exists
const builder = createImageUrlBuilder(sanityClient)
// Helper function to make the HTML cleaner
function urlFor(source: any) {
  return builder.image(source)
}
const welcomeImageUrl = welcomeImage && welcomeImage.asset ? builder.image(welcomeImage).url() : ''
---

<BaseLayout title="Private Lessons">
  <section class="lessons-hero page-hero hero">
    <div class="hero-content">
      <h1>{heroTitle}</h1>
      <p>{heroSubtitle}</p>
    </div>
    <Image src={heroImg} alt="" />
  </section>

  <section class="lessons-welcome welcome container">
    <div class="welcome-price">
      <h4>{priceText}</h4>
      <h2>{priceTitle}</h2>
      <ul>
        {
          featuresPrice.map((features: any) => (
            <li>
              <span>
                {/* <Image src={clock} alt="" />  */}
                {features.priceMinutes}
              </span>{' '}
              <span>{features.price}</span>
            </li>
          ))
        }
      </ul>
      <p>Join a Coaching Session</p>
      <button class="btn">Get Started</button>
      <br />
      <span>Or call <a href="tel:+1(616) 822-6252">(616) 822-6252</a></span>
    </div>
    <div class="welcome-content">
      <h3>
        {welcomeTitle.split('\n')[0]}<br />
        <i>{welcomeTitle.split('\n')[1]}</i>
      </h3>
      <p set:html={welcomeText.replace(/\n/g, '<br />')} />

      <h4>{featuresTitle}</h4>
      <ul>
        {
          features.map((feature: any) => (
            <li>
              <Image src={check} alt="" />
              {feature.description}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
